<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE RelativeLayout>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dimap.ufrn.dm"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-feature android:name="android.hardware.camera" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name = "servicos.ServicoConexao"
            android:exported="false" > 
            
		 	 <intent-filter>
				 <action android:name="INICIAR_SERVICO_CONEXAO" />
				 <category android:name="android.intent.category.DEFAULT" />
			 </intent-filter>
        </service> 
        
        <activity
            android:name="activities.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.NovoLugar"
            android:configChanges="orientation"
            android:label="@string/title_activity_novo_lugar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.TelaComentarios"
            android:configChanges="orientation"
            android:label="@string/title_activity_comentarios"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.Comentario"
            android:configChanges="orientation"
            android:label="@string/title_activity_comentario"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.NovoComentario"
            android:configChanges="orientation"
            android:label="@string/title_activity_comentario_novo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.ListaTarefas"
            android:configChanges="orientation"
            android:label="@string/title_activity_tarefas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.NovaTarefa"
            android:configChanges="orientation"
            android:label="@string/title_activity_tarefa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.UsuarioPerfil"
            android:configChanges="orientation"
            android:label="@string/title_activity_usuario_perfil"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.InfoLugar"
            android:configChanges="orientation"
            android:label="@string/title_activity_info_lugar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.ListaLugares"
            android:configChanges="orientation"
            android:label="@string/title_activity_lista_lugares"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.Teste"
            android:configChanges="orientation"
            android:label="@string/title_activity_teste"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.Cadastro"
            android:configChanges="orientation"
            android:label="@string/title_activity_cadastro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.Login"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.ProfileEdit"
            android:configChanges="orientation"
            android:label="@string/title_activity_profile_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.ListaComentarios"
            android:configChanges="orientation"
            android:label="@string/title_activity_list_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.UpdateTarefa"
            android:configChanges="orientation"
            android:label="@string/title_activity_update_tarefa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.RedefinirSenha"
            android:configChanges="orientation"
            android:label="@string/title_activity_redefine_senha"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.UpdateComentario"
            android:label="@string/title_activity_update_comentario" >
        </activity>
        

    </application>

</manifest>